{{ if not (in $.Page.Permalink "total") }}
<a id="top" class="anchor" name="top"></a>
<section class="page-title bg-2" style="background-image: url('/header.png'); background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .Title }}</h1>
          <p>{{ .Params.description }}</p>
          {{ with .Params.button}}
            {{ if .enable }}
              <a href="https://dashboard.groupdocs.cloud/" class="btn btn-main btn-icon animated fadeInUp"><i class="fas fa-arrow-down"></i> Start Free Trial</a>
            {{end}}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
