$white: #fff;
$black: #000;

$light-gray: #f9f9f9;
$gray: #999;
$dark-gray: #444;

$primary-color: #428bca;
$secondary-color: #9230d4;

$btn-primary: #1a89d0;
$btn-secondary: #26ae60;
$btn-success: #449d44;

$border-color:#dedede;

$primary-font:'Roboto', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$icon-font: 'themefisher-font';
