{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}
{{ if .enable }}
<section class="slider {{if .bg_overlay}}overly{{end}}" style="background-image: url('{{ .bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h1>{{ . | markdownify }}</h1>{{ end }}
          {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

<!-- product -->
{{ with .Params.product }}
{{ if .enable }}
<section class="our-products">
  <div class="container">
    <div class="row">
      <div class="section-title">
        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
      </div>
    </div>
    <div class="row">
      {{ range .product_item }}
      <div class="col-sm-12 col-md-6">
        <div class="product-item">
          <img src="{{ .image | relURL }}" width="90" height="90"/>
          <h4><a href="{{ .link | relLangURL }}">{{ .name | markdownify }}</a></h4>
          <p>{{ .content | markdownify }}</p>
          {{ with .button_net }}
            {{ if .enable }}
              <a href="{{ .link | relLangURL }}">
                <div class="btn btn-solid-border product-btn animated fadeInUp">
                  <span class="product-btn-label">{{ .label | markdownify }} for</span>
                  <br>
                  <span class="product-btn-platform">.NET</span>
                </div>
              </a>
            {{ end }}
          {{ end }}
          {{ with .button_java }}
            {{ if .enable }}
              <a href="{{ .link | relLangURL }}">
                <div class="btn btn-solid-border product-btn animated fadeInUp">
                  <span class="product-btn-label">{{ .label | markdownify }} for</span>
                  <br>
                  <span class="product-btn-platform">Java</span>
                </div>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /product -->

{{ end }}
